$gray: #556270;
$blue: #4ECDC4;
$green: #C7F464;
$pink: #FF6B6B;
$red: #C44D58;
$black: #1B1B1B;

$borderHeight: 200px;
$baseDegree: 3deg;

$base-font-size: 12px;
$text-color: #fff;

$nav-title-size: 3em;
$nav-title-margin: 2em + $nav-title-size;
$nav-title-padding: 10vh;

$hero-font-size: 5em;

@import url(https://fonts.googleapis.com/css?family=Raleway:700,200);

body {
  overflow-x: hidden;
  background: $black;
  font-family: 'Raleway', sans-serif;
  font-size: $base-font-size;
}

.hero {
  width: 100%;
  height: 100vh;
}

@mixin slantedBorder($bottom, $color,$degree) {
  position: absolute;
  bottom: $bottom;
  background: $color;
  z-index: -1;
  &:before {
    background: inherit;
    content: '';
    display: block;
    height: 200px;
    width: 100vw;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0;
    transform: skewY($degree);
    transform-origin: 100%;
  }
}

@mixin rotate($degree, $xPos, $yPos) {
  -ms-transform: rotate($degree);
  -webkit-transform: rotate($degree);
  transform: rotate($degree);
  transform-origin: $xPos $yPos;
}

@mixin nav-title($side) {
  p {
    text-align: center;
    font-size: $nav-title-size;
    @if $side == right {
      padding-left: $nav-title-padding;
    } @else if $side == left {
      padding-right: $nav-title-padding;
    }
    a {
      color: $text-color;
      text-decoration: none;
      font-weight: 200;
    }
  }
}

.nav-titles {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

.title-container {
  position: absolute;
  // Make width equal to the screen height because container will be
  // rotated 90deg
  width: 100vh;
}

#left-title {
  top: 0px;
  left: 0px;
  margin-left: $nav-title-margin;
  @include rotate(90deg, left, top);
  @include nav-title(left);
}

#right-title {
  top: 0px;
  right: 0px;
  margin-right: $nav-title-margin;
  @include rotate(-90deg, right, top);
  @include nav-title(right);
}

#hero-title {
  padding-bottom: $nav-title-padding;
  font-size: $hero-font-size;
  color: $text-color;

}

#hero-title span{
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero-canvas {
  position: absolute;
  top: 0px;
}