$borderHeight: 200px;
$baseDegree: 3deg;

$nav-title-size: 2.5em;
$nav-title-margin: 1em + $nav-title-size;
$nav-title-padding: 10vh;

$hero-font-size: 5em;

.nav-titles {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

.title-container {
  position: absolute;
  // Make width equal to the screen height because container will be rotated 90deg
  width: 100vh;
  height: 4em;
  text-align: center;
}

#left-title {
  top: 0px;
  left: 0px;
  margin-left: $nav-title-margin;
  @include rotate(90deg, left, top);
  @include nav-title(left);
}

#right-title {
  top: 0px;
  right: 0px;
  margin-right: $nav-title-margin;
  @include rotate(-90deg, right, top);
  @include nav-title(right);
}

#hero-title {
  padding-bottom: $nav-title-padding;
  font-size: $hero-font-size;  
  text-align: center;
  min-width: 474px;
  font-weight: 200;
  &:before, &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 10vw;
    height: 8px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
  }
}

#hero-canvas {
  position: absolute;
  top: 0px;
  z-index: -1;
}