@mixin slantedBorder($top, $color,$degree) {
  position: relative;
  top: $top;
  background: $color;
  z-index: -1;
  &:before {
    background: inherit;
    content: '';
    display: block;
    position: relative;
    height: 200px;
    width: auto;
    left: 0;
    right: 0;
    z-index: -1;
    top: 0;
    transform: skewY($degree);
    transform-origin: 100%;
  }
}

@mixin rotate($degree, $xPos, $yPos) {
  -ms-transform: rotate($degree);
  -webkit-transform: rotate($degree);
  transform: rotate($degree);
  transform-origin: $xPos $yPos;
}

@mixin nav-title($side) {
  @if $side == right {
    padding-left: $nav-title-padding;
  } @else if $side == left {
    padding-right: $nav-title-padding;
  }
  a {
    font-size: $nav-title-size;
    color: $text-color;
    text-decoration: none;
    font-weight: 200;
  }
}