$base-font-size: 12px;
$text-color: #fff;

$gray: #556270;
$blue: #4ECDC4;
$green: #C7F464;
$pink: #FF6B6B;
$red: #C44D58;
$black: #1B1B1B;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200);

* {
  margin: 0;
  padding: 0;
  transition: all ease .75s;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;  
  font-size: $base-font-size;
}

body {
  background: $black;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: $text-color;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}